*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Segoe UI',sans-serif;
}


body{

background:#050505;
color:white;

}


header{

padding:20px 8%;
border-bottom:1px solid #222;

}


nav{

display:flex;
justify-content:space-between;
align-items:center;

}


.logo{

color:#00eaff;

}


.nav-links a{

color:white;
text-decoration:none;
margin-left:25px;

}



.hero{

min-height:90vh;
display:flex;
align-items:center;
justify-content:space-around;
padding:50px 8%;

}



.hero h1{

font-size:60px;

}



.hero span{

color:#ff003c;

}


.hero p{

max-width:500px;
line-height:1.7;
margin:20px 0;

}



.buttons a{

display:inline-block;
padding:12px 25px;
margin:10px;
border:2px solid #00eaff;
color:white;
text-decoration:none;

}


.buttons a:hover{

background:#00eaff;
color:black;

}



.robot-image img{

width:420px;

filter:drop-shadow(0 0 30px #00eaff);

}





section{

padding:70px 10%;
text-align:center;

}


section h2{

font-size:35px;
color:#00eaff;
margin-bottom:30px;

}




.cards{

display:flex;
justify-content:center;
flex-wrap:wrap;
gap:25px;

}


.card{

background:#111;
padding:25px;
width:220px;

border:1px solid #333;

transition:.3s;

}



.card:hover{

transform:translateY(-10px);
border-color:#00eaff;

}




.sensor{

font-size:50px;
margin:40px;

}



.wave{

color:#ff003c;

}



.images{

display:flex;
justify-content:center;
gap:30px;
flex-wrap:wrap;

}


.images img{

width:400px;
border:2px solid #222;

}




.status{

background:#080808;

}


.status p{

margin:15px;
color:#00ff88;

}




footer{

padding:30px;
text-align:center;
border-top:1px solid #222;

}


footer a{

color:#00eaff;

}





@media(max-width:800px){

.hero{

flex-direction:column;

}


.hero h1{

font-size:40px;

}


.robot-image img{

width:300px;

}


.nav-links{

display:none;

}


}
